body{
    background-color: #f2f2f2;
}
#TPI-test{
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    margin: 50px auto;
    padding: 25px;
    width: 75%;

    h2 {
        text-align: center;
    }

    .results-wrapper .answers{
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        margin: 25px 0;

        .answer{
            text-align: center;
        }
        
        .answer-title{
            text-transform: capitalize;
        }
    }
}